<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.email %>
  </p>

  <p>
    <strong>Reserved at:</strong>
    <%= reservation.reserved_at %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= reservation.note %>
  </p>

</div>
