<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reservation.email %>
  </p>

  <p>
    <strong>予約日時:</strong>
    <%= l(reservation.reserved_at, format: :short) %>
  </p>

  <p>
    <strong>備考:</strong>
    <%= reservation.note %>
  </p>

</div>
