<p style="color: green"><%= notice %></p>

<%= render @reservation %>

<div>
  <%= link_to "予約を編集する", edit_reservation_path(@reservation) %> |
  <%= link_to "予約一覧へ戻る", reservations_path %>

  <%= button_to "この予約を削除", @reservation, method: :delete %>
</div>
